#main-list{
  background-color: #669999;
  font-size: 2em;
  text-align: center;
}
#main-list li>a{
  color:#ff0000;
  scroll-behavior: smooth;
}
#main-navbar{
  background-color: #adad85;
}

#main-list li>a:hover{
  color:#ffff;
}
#main-content div{


}

#meal-title{
  font-size: 1.6em;
  font-weight: bold;
}
section .single-meal-details{
   font: italic 1em serif;
}
div a{
  text-decoration: none;
  font:italic serif;

}

#meal{
  margin: 5px;
    background-color: #8a8a5c;
    padding: 10px;
}
@media(max-width:768px){
    #main-content section{
    padding: 50px;


    }

}
